    <div style="padding-top: 30px;"></div>

    <footer class="position-fixed w-100 bottom-0 bg-black">
        <nav class="navbar m-0 p-0 navbar-expand">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">
                            <span class="bg-white text-black">^G</span> Retour
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>