---
---


:root {
  --bs-body-bg: #121212;
  --bs-body-color: #fff;

  --bs-primary: #fff;
  --bs-secondary: #8b8499;
  --bs-success: #55d187;
  --bs-info: #5bc0eb;
  --bs-warning: #f0c674;
  --bs-danger: #ff6b6b;
  --bs-light: #f8f9fa;
  --bs-dark: #171421;

  --bs-link-color: #fff;
  --bs-link-hover-color: #c9c3d6;

  --bs-border-color: ##171421;
}


@font-face {
  font-family: "Terminus";
  src: url("{{ '/assets/fonts/TerminusTTF-Bold-4.49.3.ttf' | relative_url }}") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background-color: --bs-body-bg;
  color: --bs-body-color;
  font-family: "Terminus", monospace;
  line-height: 1.2;
   
}




@media (min-width: 992px) {
    body {
        margin-inline: 15vw !important;
    }
}

@media (max-width: 992px) {
    body {
        margin-inline: 2vw !important;
    }
}

